.navigation-link-body a:nth-child(4){
    color: #F58A07;
}

nav .container{
    flex-direction: column;
}
footer .container{
    flex-direction: column;
}
.container{
    display: flex;
}
.header{
    background-color: #DCEAF5;
}
.header>.container{
    padding-top: 128px;
    padding-bottom: 128px;
}
.header-text{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}.header-text p{
    width: 559px;
}
.header-text> a .arrow{
    position: absolute;
    bottom: 50px;
}
.header-info{
    display: flex;
    gap: 8px;
}
.header-image img{
    border-radius: 20px;
    filter: grayscale(1);
}
.header-image img:hover{
    filter: grayscale(0.1);
    transition: 0.5s all;
}
.header-info-text{
    gap: 24px;
}
main a{
    padding-top: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 106.5%;
    color: #F58A07;

}

.all-posts>.container{
    flex-direction: column;
    padding-top: 128px;
    padding-bottom: 128px;
}
.all-posts{
    
    display: flex;
}
.all-posts h2{
    padding-bottom: 24px;
}
.card{
    background-color: #EDF7FF;
    position: relative;
}
.card-text>a .arrow{
    bottom: 37px;
}