* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 1280px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
h2 {
  font-weight: 600;
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -0.03em;
  color: #1d3444;
  padding-bottom: 24px;
}
h3 {
  color: #0d1317;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.03em;
  text-transform: capitalize;
}
p {
  color: #5b5b5b;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}
h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #0d1317;
}
.button {
  padding: 18px 32px 19px 32px;
  background-color: #f58a07;
  border-radius: 27px;
}
.font-sz-16 {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #5b5b5b;
}
/*card style start */
.blog {
  padding-top: 64px;
  display: flex;
  gap: 40px;
}
.card {
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  padding-bottom: 32px;
}
.card img {
  border-radius: 20px 20px 0 0;
  filter: grayscale(1);
}
.card img:hover {
  filter: grayscale(0.1);
  transition: 0.7s all;
  transform: scale(1.05, 1.05);
}
.card-text {
  padding: 32px;
  position: relative;
}
.card-text > h4 {
  padding-bottom: 16px;
}
.card-text > .font-sz-16 {
  padding-bottom: 24px;
}
.card-text a {
  font-weight: 500;
  font-size: 16px;
  line-height: 106.5%;
  color: #f58a07;
}
.card-text a {
  position: absolute;
  padding: 0 10px 0 0;
}
.card-text a:hover {
  padding: 0 0 0 10px;
  transition: 0.7s all;
}

/*card style end */

.video {
  padding-bottom: 128px;
}
.video > .container {
  display: flex;
  gap: 110px;
}
.video-left {
  padding-top: 78px;
  width: 550px;
}

.video-left > p {
  padding-top: 24px;
  padding-bottom: 40px;
}
.video-left-person {
  display: flex;
  gap: 24px;
}
.video-left-person-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 171%;
  color: #063255;
}
.video-left-person-sub-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 171%;
  color: #f58a07;
}
.video-right {
  position: relative;
}
.play-icon {
  position: absolute;
  display: flex;
  bottom: 40px;
  left: 40px;
  gap: 17px;
}
.play-icon img {
  padding: 17px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 56px;
}
.play-icon-text {
  padding-top: 19.5px;
  font-weight: 600;
  font-size: 18px;
  line-height: 101.8%;
  text-transform: capitalize;
  color: #fff;
}
