nav{
    display: flex;
    padding-top: 15px;
    padding-bottom: 30px;
}
.navigation-table{
    display: flex;
    justify-content: space-between;
}

.navigation-logo{
    padding-top: 28px;
}

.navigation-link{
    display: flex;
    gap: 47px;
}
.navigation-link-body{
    padding-top: 30px;
    display: flex;
    gap: 32px;
}
.navigation-link-body a{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #394149;
}
.navigation-link-body a:hover{
    color: #F58A07;
}
.navigation-button{
    padding: 18px 30px 17px 29px;
    border-radius: 31px;
    text-align: center;
    margin-top: 16px;
    font-weight: 600;
    color: #f58a07;
    background-color: rgba(245, 138, 7, 0.1);
}
.navigation-button:hover{
    background-color: #F58A07;
    transition: 0.7s all;
    color: #fff;
}
.header>.container{
    display: flex;
    gap: 46px;
}
.header-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-left p{
    font-size: 18px;
    line-height: 30px;
    padding-top: 24px;
    padding-bottom: 32px;
}
.header-button{
    background-color: #F58A07;
    border-radius: 27px;
    padding: 18px 32px 19px 32px;
    display: inline-block;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 106.5%;
}
.header-right{
    position: relative;
}
.header-image-bar{
    position: absolute;
    height: 650px;
    width: 180px;
    bottom: 6px;
    mix-blend-mode: multiply;
    border-radius:19px 0 0 20px;
    background-color: #F58A07;
}
.feature{
    padding-top: 90px;
}
.header-padding{
    padding-top: 108px;
}
footer{
    background-color: #063255;
    position: relative;
}

footer>.container{
    padding-top: 80px;

}
.footer-top{
    display: flex;
    justify-content: space-between;
}

.footer-section h4{
    padding-top: 32px;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.03em;
    color: #FFF;
    width: 351px;
}
.social-media{
    display: flex;
    padding-top: 33.67px;
    gap: 20px;
}
.social-media-icon{
    color: #fff;
}
.social-media-icon:hover i{
    color: #F58A07;
    transition: .7s all;
}
.footer-section-middle{
    display: flex;
    gap: 106px;
}
.footer-left-bar>ul>li{
    padding-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFF;
}
.footer-left-bar>p{
    padding-bottom: 24px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFF;
}
.footer-right-bar p{
    padding-bottom: 24px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFF;
}
.footer-right-bar>ul>li{
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFF;
}
.footer-section-right p{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFF;
}
.input-email{
    padding-top: 24px;
    padding-bottom: 16px;
    position: relative;
}
.input-email>input{
    border: 0;
    padding-top: 18px;
    padding-bottom: 17px;
    padding-left: 32px;
    border-radius: 31px;
    width: 342px;
}

.button{
    padding: 18px 32px;
    background-color: #F58A07;
    display: inline-block;
    border-radius: 31px;
    font-weight: 600;
    font-size: 18px;
    line-height: 106.5%;
    text-transform: capitalize;
    color: #FFF;
}
.button:hover{
    background-color: #fff;
    color: #F58A07;
    transition: .6s all;
}
.footer-bottom{
    padding-top: 85px;
    padding-bottom: 79px;
    display: flex;
    justify-content: space-between;
}
.footer-bottom p{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.footer-bottom-links{
    display: flex;
    justify-content: space-evenly;
    gap: 32px;
}
.footer-bottom-links a{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFF;
}
footer a:hover{
    color: #F58A07;
    transition: .5s all;
}
.footer-shape-left{
    position: absolute;
    width: 53px;
    height: 144px;
    background-color: #F58A07;
    left: 0;
    bottom: 0px;
    border-radius: 0 20px 0 0;

}
.footer-shape-right {
    position: absolute;
    height: 287px;
    width: 53px;
    background-color: #F58A07;
    top: 38px;
    right: 0;
    border-radius: 20px 0 0 20px;
}
