
.header{
    background-color: #DCEAF5;

    display: flex;
}
.header>.container{
    display: flex;
}
.header-left>h1{
    margin: 0;
    padding-top: 117px;
    width: 576px;
    font-size: 64px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -0.03em;
    text-align: left;
}
.header-left>.buttons>.button-left{
    color: #fff;
    font-weight: 600;
    width: 199px;
    height: 54px;
    background-color: #F58A07;
    border-radius: 27px;
    text-align: center;
    line-height: 54px;
}
.header-left>.buttons>.button-right{
    font-weight: 600;
    width: 199px;
    height: 54px;
    text-align: center;
    line-height: 54px;
}
.buttons{
    display: flex;
    gap: 40px;
    margin-top: 32px;
    
}
.text-top{
    padding-top: 12px;
    color: #5B5B5B;
}

.header-text-bottom{
    margin-top: 56px;
    color: #39414980;

}

.header-bottom-logos{
    display: flex;
    padding-top: 18px;
    gap: 45px;
}
.help-section{
    padding-top: 83px;
}
.help-section>.container>.heading-biy>.heading-text>.heading{
    font-weight: 600;
    font-size: 36px;
    letter-spacing: -0.03em;
}
.heading-biy{
    display: flex;
}
.box{
    padding: 150px 250px;
}
.help-section>.container>.heading-biy>.heading-text>.text-top{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}
.card-body{
    background-color: #fff;
    display: flex;
    gap: 40px;
    padding-top: 64px;
}
.card>img{
    border-radius: 20px;
}
.card-heading{
    padding-top: 33px;
    font-weight: 500;
    font-size: 24px;
}
.card-link{
    color: #F58A07;
    padding-top: 24px;
}

/*feature section start*/
.features-section{
    padding-top: 97px;
    padding-bottom: 96px;
    background-color: #EDF7FF;

}
.features-section-text{
    display: flex;
    gap: 40px;
}
.features-section-text h2{
    padding-top: 96px;
    font-weight: 600;
    font-size: 36px;
    color: #0D1317;
}
.features-section-text p{
    padding-top: 102px;
  
    font-weight: 500;
    color: #1D3444;
    font-size: 18px;
}
.features-section_features{
    display: flex;
    padding-top: 64px;
    gap: 38px;
}
.feature{
    background-color: #fff;
    border-radius: 20px;
}
.feature>img{
    padding-top: 50px;
    padding-left: 38px;
    padding-bottom: 32px;
}
.feature>p{
    padding-bottom: 16px;
    padding-left: 39px;
}
/*feature section end*/

/*about section start*/
.about-section{
    padding-top: 96px;
    background-color: #fff;
}
.about-section>.container{
    display: flex;
    justify-content: space-around;
    gap: 83px;
}
.about-text{
    padding-top: 70px;
}
.about-section-heading>p{
    padding-top: 32px;
    padding-right: 85px;
    padding-bottom: 48px;
}
.about-section-feature{
    display: flex;
    gap: 26px;
}
.about-section-feature-logo{
    font-family: Inter, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0px;
    text-align: left;
    color: #F58A07;
}
.about-section-feature-heading{
    padding-top: 16px;
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: -0.03em;
    text-align: left;
}
.about-section-feature-pharagraph{
    padding-top: 16px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
}
.about-image{
    position: relative;
    bottom: 0;
}
.about-image>img{
    border-radius: 20px;
}
.about-image-bar{
    position: absolute;
    height: 667px;
    width: 153px;
    background-color: rgba(245, 138, 7, 1);
    mix-blend-mode: multiply;
    border-radius: 20px 0 0 20px;
    z-index: 4;
    left: 0;
    bottom: 6px;   
}
.service-section{
    padding-top: 85px;
}
.service-section>.container{

    background-color: #EDF7FF;
    position: relative;
    border-radius: 20px;
}
.ribbon{
    position: absolute;
    right: -20.61px;
    top: -20px;
}
.service-container{
    position: relative;
}
.service-tab>ul{
    display: flex;
    justify-content: start;
    gap: 24px;
    padding-top: 48px;
    padding-left: 48px;
}
.tab-left{
    color: #F58A07;

    padding: 8px 24px;
    background-color: #FFF;
    border-radius: 31px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.tab-right{
    padding: 8px 24px;
    border: 1px solid #A8BCCC;
    border-radius: 31px;
    color: rgba(6, 50, 85, 0.3);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
}
.service-section{
    padding-bottom: 128px;
}
.service-text{
    padding-left: 48px;
    padding-top: 80px;

}


.service-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 106.5%;
    color:#F58A07;
    padding-left: 48px;
    padding-top: 40px;
}
.service-body{
    display: flex;
    justify-content: space-between;
    gap: 140px;
}
.service-right{
    position: relative;
    padding-right: 42.39px;
    padding-top: 80px;

}
.service-image-bar{
    position: absolute;
    height: 466px;
    width: 120px;
    background: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px 0px 0px 20px;
    bottom: 6px;
}
.CTA-body{
    background-color: rgba(245, 138, 7, 1);                                                                                                 
    display: flex;
    height: 518px;
    align-items: stretch;
}
.CTA-body img{
    object-fit: cover;
    width: 50%;
}
.CTA-left{
    
}
.CTA-right{
    padding: 128px 300px 222px 128px;
}

.CTA-heading{
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color: #fff;
    letter-spacing: -0.03em;
    width: 532px;
}
.CTA-button{
    display: inline-block;
    padding: 19px 32px 18px 32px;
    background-color: #fff;
    border-radius: 31px;
    font-weight: 600;
    font-size: 16px;
    line-height: 106.5%;
    text-transform: capitalize;
    color: #F58A07;
}   
.CTA-button-outside-padding{
    padding-top: 40px;
}
.video{
    padding-top: 128px;
    padding-bottom: 128px;
}
.video>.container{
    display: flex;
}
.video-left{
    padding-top: 78px;
}
.video-left>h2{
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    text-transform: capitalize;
}
.video-left>p{
    padding-top: 24px;
    padding-bottom: 40px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}
.video-left-person{
    display: flex;
    gap: 24px;
}
.video-left-person-title{
    font-weight: 500;
    font-size: 24px;
    line-height: 171%;
    color: #063255;
}
.video-left-person-sub-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 171%;
    color: #F58A07;
}
.video-right{
    position: relative;
}
.play-icon{
    position: absolute;
    display: flex;
    bottom: 40px;
    left: 40px;
    gap: 17px;
}
.play-icon img{
    padding: 17px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 56px;
}
.play-icon>p{
    padding-top: 19.5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 101.8%;
    text-transform: capitalize;
    color: #FFF;
}
.latest{
    background-color: #DCEAF5;
}
.latest>.container{
    padding-top: 96px;
    padding-bottom: 96px;
}
.blog{
    padding-top: 64px;
    display: flex;
    gap: 40px;
}
.blog-card{
    border-radius: 20px;
    background-color: #fff;
}
.blog-card img{
    border-radius: 20px 20px 0 0;
}
.blog-card-text{
    padding: 32px;
}
.blog-card-text>h3{
    padding-bottom: 16px;
}
.blog-card-text>p{
    padding-bottom: 24px;
}
.blog-card-text a{
    font-weight: 500;
    font-size: 16px;
    line-height: 106.5%;
    color: #F58A07;
}
