nav{
    display: flex;
    padding-top: 15px;
    padding-bottom: 30px;
}
.navigation-table{
    display: flex;
    justify-content: space-between;
}

.navigation-logo{
    margin-top: 28px;
}

.navigation-link{
    display: flex;
}
.navigation-link-body{
    margin-top: 30px;
    display: flex;
    width: 437px;
    height: 24px;
    gap: 32px;

}
.navigation-button{
    width: 173px;
    height: 52px;
    border-radius: 31px;
    text-align: center;
    line-height: 52px;
    margin-top: 16px;
    font-weight: 600;
    color: #f58a07;
    background: #F58A071A;
}
.header{
    margin-top: 0;
    height: 703px;
    background-color: #DCEAF5;
    position: relative;
    display: flex;
}

.header-left>h1{
    margin: 0;
    padding-top: 117px;
    width: 576px;
    font-size: 64px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -0.03em;
    text-align: left;
}
.header>.container>.header-left>.buttons>.button-left{
    color: #fff;
    font-weight: 600;
    width: 199px;
    height: 54px;
    background-color: #F58A07;
    border-radius: 27px;
    text-align: center;
    line-height: 54px;

}
.header>.container>.header-left>.buttons>.button-right{

    font-weight: 600;
    width: 199px;
    height: 54px;
    text-align: center;
    line-height: 54px;
}
.buttons{
    display: flex;
    gap: 40px;
    margin-top: 32px;
    
}
.text-top{
    margin-top: 12px;
    color: #5B5B5B;
}
.text-top>p{
    margin: 0;
}
.header-text-bottom{
    margin-top: 56px;
    color: #39414980;

}
.header-right{
    position: absolute;
    right: 218px;
    bottom: -6.5px;
}
.header-bottom-logos{
    margin-top: 18px;
    gap: 45px;
}
.help-section{
    height: 740px;
    margin: 0 auto;
    margin-top: 83px;

}
.help-section>.container>.heading-biy>.heading-text>.heading{
    font-weight: 600;
    font-size: 36px;
    letter-spacing: -0.03em;
}
.heading-biy{
    display: flex;
}
.box{
    padding: 150px 250px;
}
.help-section>.container>.heading-biy>.heading-text>.text-top{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}
.card-body{
    display: flex;
    gap: 40px;
    margin-top: 64px;
}
.card>img{
    border-radius: 20px;
}
.card-heading{
    margin-top: 33px;
    font-weight: 500;
    font-size: 24px;
}
.card-link{
    color: #F58A07;
    margin-top: 24px;
}
.features-section{
    margin-top: 97px;
    height: 665px;
    background-color: #EDF7FF;

}
.features-section-text{
    display: flex;
    gap: 40px;
}
.features-section-heading{
    margin-top: 96px;
    width: 619px;
    font-weight: 600;
    font-size: 36px;
    color: #0D1317;
}
.features-section-heading>p{
    margin: 0;
}
.features-section-paragraph{
    margin-top: 102px;
    width: 620px;
    font-weight: 500;
    color: #1D3444;
    font-size: 18px;
}
.features-section-paragraph>p{
    margin: 0;
}
.features-section_features{
    display: flex;
    margin-top: 64px;
    gap: 38px;
}
.feature{
    width: 401px;
    background-color: #fff;
    border-radius: 20px;
}
.feature>img{
    margin-top: 50px;
    margin-left: 38px;
    margin-bottom: 32px;
}
.feature>p{
    margin-top: 0;
    margin-bottom: 16px;
    margin-left: 39px;
}



.about-section{
    height: 667px;
    margin-top: 96px;
    background-color: #fff;
}
.about-section>.container{
    display: flex;
    justify-content: space-around;
}
.about-text{
    width: 596px;

}

.about-section-heading>h3{
    font-weight: 600px;
    font-size: 48px;
    color: #0D1317;
    margin-top: 0;
    letter-spacing: -0.03em;
}
.about-section-heading>p{
    width: 510px;
    font-weight: 500;
    font-size: 18px;
    color: #5B5B5B;

}
.about-section-feature{
    display: flex;
    width: 596px;
}
.about-section-feature-logo{
    font-family: Inter, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0px;
    text-align: left;
    color: #F58A07;
}
.about-section-feature-heading{
    margin-top: 16px;
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: -0.03em;
    text-align: left;
}
.about-section-feature-pharagraph{
    margin-top: 16px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
}
.about-image{
    position: relative;
    bottom: 0;
}
.about-image>img{
    border-radius: 20px;
}
.about-image-bar{
    position: absolute;
    left: 0;
    height: 667px;
    width: 153px;
    background-color: rgba(245, 138, 7, 1);
    mix-blend-mode: multiply;
    border-radius: 20px 0 0 20px;
    z-index: 4;
    bottom: 6px;
    
}
.service-section>.container{
    margin-top: 85px;
    height: 682px;
    background-color: #EDF7FF;
    position: relative;
    border-radius: 20px;

}
.ribbon{
    position: absolute;
    right: -20.61px;
    top: -20px;
}
.service-container{
    position: relative;
}
.service-tab>ul{
    display: flex;
    justify-content: start;
    gap: 24px;
    padding-top: 48px;
    padding-left: 48px;
}
.tab-left{
    color: #F58A07;

    padding: 8px 24px;
    background-color: #FFF;
    border-radius: 31px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.tab-right{
    padding: 8px 24px;
    border: 1px solid #A8BCCC;
    border-radius: 31px;
    color: rgba(6, 50, 85, 0.3);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
}
.service-section{
    padding-bottom: 128px;
}
.service-text{
    padding-left: 48px;
    padding-top: 80px;

}
.service-text>h2{
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    margin-top: 0;
}
.service-text>p{

    color: rgba(91, 91, 91, 1);
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}
.service-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 106.5%;
    color:#F58A07;
    padding-left: 48px;
    padding-top: 40px;
}
.service-body{
    display: flex;
    justify-content: space-between;
    gap: 140px;
}
.service-right{
    position: relative;
    padding-right: 42.39px;
    padding-top: 80px;

}
.service-image-bar{
    position: absolute;
    height: 466px;
    width: 120px;
    background: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px 0px 0px 20px;
    bottom: 6px;
}
.CTA-body{
    background-color: rgba(245, 138, 7, 1);
    margin: 0;
    display: flex;
    height: 518px;
    align-items: stretch;
}
.CTA-left img{
    height: 518px;
}
.CTA-right{
    padding: 128px 300px 222px 128px;
}

.CTA-heading{
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color: #fff;
    letter-spacing: -0.03em;
}
.CTA-button{
    display: inline-block;
    padding: 19px 32px 18px 32px;
    background-color: #fff;
    border-radius: 31px;
    font-weight: 600;
    font-size: 16px;
    line-height: 106.5%;
    text-transform: capitalize;
    color: #F58A07;
}   
.CTA-button-outside-padding{
    padding-top: 40px;
}
.video{
    padding-top: 128px;
    padding-bottom: 128px;
}
.video>.container{
    display: flex;
}
.video-left{
    padding-top: 78px;
}
.video-left>h2{
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    text-transform: capitalize;
}
.video-left>p{
    padding-top: 24px;
    padding-bottom: 40px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}
.video-left-person{
    display: flex;
    gap: 24px;
}
.video-left-person-title{
    font-weight: 500;
    font-size: 24px;
    line-height: 171%;
    color: #063255;
}
.video-left-person-sub-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 171%;
    color: #F58A07;
}
.video-right{
    position: relative;
}
.play-icon{
    position: absolute;
    display: flex;
    bottom: 40px;
    left: 40px;
    gap: 17px;
}
.play-icon img{
    padding: 17px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 56px;
}
.play-icon>p{
    padding-top: 19.5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 101.8%;
    text-transform: capitalize;
    color: #FFF;
}
.latest{
    background-color: #DCEAF5;
}
.latest>.container{
    padding-top: 96px;
    padding-bottom: 96px;
}
.blog{
    padding-top: 64px;
    display: flex;
    gap: 40px;
}
.blog-card{
    border-radius: 20px;
    background-color: #fff;
}
.blog-card img{
    border-radius: 20px 20px 0 0;
}
.blog-card-text{
    padding: 32px;
}
.blog-card-text>h3{
    padding-bottom: 16px;
}
.blog-card-text>p{
    padding-bottom: 24px;
}
.blog-card-text a{
    font-weight: 500;
    font-size: 16px;
    line-height: 106.5%;
    color: #F58A07;
}
footer{
    background-color: #063255;
    position: relative;
}

footer>.container{
    padding-top: 80px;

}
.footer-top{
    display: flex;
    justify-content: space-between;
}
.footer-section h4{
    padding-top: 32px;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.03em;
    color: #FFF;

}
.footer-section-middle{
    display: flex;
    gap: 106px;
}
.footer-left-bar>ul>li{
    padding-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFF;
}
.footer-left-bar>p{
    padding-bottom: 24px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFF;
}
.footer-right-bar p{
    padding-bottom: 24px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFF;
}
.footer-right-bar>ul>li{
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFF;
}
.footer-section-right p{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFF;
}
.input-email{
    padding-top: 24px;
    padding-bottom: 16px;
}
.input-email>input{
    border: 0;
    padding-top: 18px;
    padding-bottom: 17px;
    border-radius: 31px;
    width: 342px;

}
.button{
    padding: 18px 32px;
    background-color: #F58A07;
    display: inline-block;
    border-radius: 31px;
    font-weight: 600;
    font-size: 18px;
    line-height: 106.5%;
    text-transform: capitalize;
    color: #FFF;
}
.footer-bottom{
    padding-top: 85px;
    padding-bottom: 79px;
    display: flex;
    justify-content: space-between;
}
.footer-bottom p{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.footer-bottom-links{
    justify-content: space-evenly;
    gap: 32px;
}
.footer-bottom-links a{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFF;
}
.footer-shape-right {
    position: absolute;
    padding-top: 38px;
    right: 0;
    top: 0;
}