nav{
    display: flex;
    padding-top: 15px;
    padding-bottom: 30px;
}
.navigation-table{
    display: flex;
    justify-content: space-between;
}

.navigation-logo{
    padding-top: 28px;
}

.navigation-link{
    display: flex;
    gap: 47px;
}
.navigation-link-body{
    padding-top: 30px;
    display: flex;
    gap: 32px;

}
.navigation-link-body a{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #394149;
}
.navigation-button{
    padding: 18px 30px 17px 29px;
    border-radius: 31px;
    text-align: center;
    margin-top: 16px;
    font-weight: 600;
    color: #f58a07;
    background: #F58A071A;
}
.header>.container{
    display: flex;
    gap: 46px;
}
.header-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-left p{
    font-size: 18px;
    line-height: 30px;
    padding-top: 24px;
    padding-bottom: 32px;
}
.header-button{
    background-color: #F58A07;
    border-radius: 27px;
    padding: 18px 32px 19px 32px;
    display: inline-block;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 106.5%;
}
.header-right{
    position: relative;
}
.header-image-bar{
    position: absolute;
    height: 650px;
    width: 180px;
    bottom: 6px;
    mix-blend-mode: multiply;
    border-radius:19px 0 0 20px;
    background-color: #F58A07;
}
.feature{
    padding-top: 90px;
}
.header-padding{
    padding-top: 108px;
}
.feature-body{
    display: flex;
    gap: 76px;
}
.feature-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.feature-text h2{
    padding-bottom: 24px;
}
.feature-text p{
    padding-bottom: 24px;
    text-align: left;
}
.feature-text>ul>li{
    padding-bottom: 8px;
}
.feature-image{
    position: relative;
}
.features-block{
    width: 95px;
    height: 97px;
    position: absolute;
    background: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px;
}
.block-1{
    position: absolute;
    top: 128px;
    left: -48px;
}

.feature-padding{
    padding-top: 128px;
}
.feature-right-block{
    position: absolute;
    width: 95px;
    height: 97px;
    background: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px;
    top: 272px;
    right: -48px;
}
.block-1{

}