.feature{
    padding-top: 90px;
}
.header-padding{
    padding-top: 108px;
}
.feature-body{
    display: flex;
    gap: 76px;
}
.feature-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.feature-text h2{
    padding-bottom: 24px;
}
.feature-text p{
    padding-bottom: 24px;
    text-align: left;
}
.feature-text>ul>li{
    padding-bottom: 8px;
}
.feature-image{
    position: relative;
}
.feature-block-1{
    position: absolute;
    top: 128px;
    left: -48px;
    width: 95px;
    height: 97px;
    position: absolute;
    background: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px;
}
.feature-block-2{
    position: absolute;
    width: 95px;
    height: 97px;
    background: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px;
    top: 272px;
    right: -48px;
}
.feature-block-3{
    position: absolute;
    width: 95px;
    height: 97px;
    background: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px;
    top: 217px;
    left: -48px;
}
.feature-block-4{
    position: absolute;
    width: 95px;
    height: 97px;
    background: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px;
    bottom: 111px;
    left: -48px;
}
.feature-padding{
    padding-top: 128px;
}
.feature-text>ul>li{
    font-size: 16px;
    list-style-type: disc;
}
.feature-text>ul>li p{
    padding-top: 0;
    padding-bottom: 0;
}
.feature-text>ul{
    padding-left: 20px;
}
.feature>:last-child{
    padding-bottom: 128px;
    padding-top: 166px;
}
.video-left-person-title{
    font-weight: 500;
    font-size: 24px;
    line-height: 171%;
    color: #063255;
}
.video-left-person-sub-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 171%;
    color: #F58A07;
}
.play-icon{
    position: absolute;
    display: flex;
    bottom: 40px;
    left: 40px;
    gap: 17px;
}
.play-icon img{
    padding: 17px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 56px;
}
.play-icon>p{
    padding-top: 19.5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 101.8%;
    text-transform: capitalize;
    color: #FFF;
}
.latest{
    background-color: #DCEAF5;
}
.latest>.container{
    padding-top: 96px;
    padding-bottom: 96px;
}
.blog{
    padding-top: 64px;
    display: flex;
    gap: 40px;
}
.blog-card{
    border-radius: 20px;
    background-color: #fff;
}
.blog-card img{
    border-radius: 20px 20px 0 0;
}
.blog-card-text{
    padding: 32px;
}
.blog-card-text>h3{
    padding-bottom: 16px;
}
.blog-card-text>p{
    padding-bottom: 24px;
}
.blog-card-text a{
    font-weight: 500;
    font-size: 16px;
    line-height: 106.5%;
    color: #F58A07;
}
